<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" th:href="@{/css/formulariReserva.css}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <title>Completar Reserva</title>
</head>
<body>

   <header class="navbar">
    <div class="logo">
      <a th:href="@{/client/home}">Yubaba</a>
    </div>
    <nav class="nav-links" id="nav-links">
      <a th:href="@{/}">Inici</a>
      <a th:href="@{/client/hotels}">Hotels</a>
      <a th:href="@{/client/reserves/llistat}">Reserves</a>
      <a th:href="@{/client/MostrarClient}">Perfil</a>
      <form th:action="@{/logout}" method="POST" class="logout-form">
        <button type="submit" class="logout">Sortir</button>
      </form>
    </nav>
    <div class="input-group">
      <a th:href="@{/login}"><i class="fa-solid fa-user"></i></a>
    </div>
    <div class="menu-icon" id="menu-toggle">&#9776;</div>
  </header>

<div class="bienvenida"> 
   <h1>Selecciona la teva habitació i completa la reserva</h1>
</div>

<div class="container">
   <form th:action="@{/FinalitzarReserva}" th:object="${reserva}" method="post">


       <input type="hidden" th:field="*{data_inici}">
       <input type="hidden" th:field="*{data_fi}">


       <label>Elige habitación:</label>
       <select th:field="*{habitacio.id}" required>
           <option th:each="hab : ${habitacionsDisponibles}"
                   th:value="${hab.id}"
                   th:text="${hab.numero + ' - ' + hab.tipus + ' - ' + hab.descripcio}"></option>
       </select>


       <label>Tipo de Reserva:</label>
       <select th:field="*{tipus_reserva}" required>
           <option value="AD">AD</option>
           <option value="MP">MP</option>
       </select>


       <label>Tipo IVA:</label>
       <select th:field="*{tipus_iva}" required>
           <option value="7">7%</option>
           <option value="21">21%</option>
       </select>

       <label>Metodo de Pagament</label>
       <select name="metode_pagament" id="metode_pagament">
         <option value="Efectiu">Efectiu</option>
         <option value="Targeta">Targeta</option>
       </select>


       <button type="submit">Finalizar Reserva</button>


   </form>
</div>


</body>
</html>
