<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Llistat de Hotels</title>
    <link rel="stylesheet" th:href="@{/css/hotels.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

<!-- NAVBAR -->
 
<header class="navbar">
    <div class="logo">
      <a th:href="@{/client/home}">Yubaba</a>
    </div>
    <nav class="nav-links" id="nav-links">
      <a th:href="@{/}">Inici</a>
      <a th:href="@{/client/hotels}">Hotels</a>
      <a th:href="@{/client/reserves/llistat}">Reserves</a>
      <a th:href="@{/client/MostrarClient}">Perfil</a>
      <form th:action="@{/logout}" method="POST" class="logout-form">
        <button type="submit" class="logout">Sortir</button>
      </form>
    </nav>
    <div class="input-group">
      <a th:href="@{/login}"><i class="fa-solid fa-user"></i></a>
    </div>
    <div class="menu-icon" id="menu-toggle">&#9776;</div>
  </header>

<main class="container">
    <h1>Llistat dels nostres hotels</h1>

    <div class="linea"></div>

    <div class="hotel-grid">
        <div class="hotel-card" th:each="hotel : ${hotels}">
            <img class="hotel-image" th:src="@{/images/hotels/{id}.jpg(id=${hotel.id})}" 
                 th:alt="${hotel.nom}" onerror="this.onerror=null;this.src='/images/IMG_3426.webp';" />

            <div class="hotel-info">
                <h2 th:text="${hotel.nom}"></h2>
                <p><strong>Adreça:</strong> <span th:text="${hotel.adreca}"></span></p>
                <p><strong>Ciutat:</strong> <span th:text="${hotel.ciutat}"></span></p>
                <p><strong>Categoria:</strong> <span th:text="${hotel.categoria.nom}"></span></p>

                <div class="hotel-actions">
                    <a th:href="@{/hotels/{id}(id=${hotel.id})}">Veure habitacions</a>
                    <a th:href="@{/hotels/{id}/filtrar(id=${hotel.id})}">Reservar</a>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>
