@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 1.5s ease-in-out;
}

/* NAVBAR NEGRO */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: 100%;
}

.logo a {
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo a:hover {
  color: #e05757;
  text-decoration: none;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  font-style: italic;
}

.nav-links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-grow: 1;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #e05757;
}

.input-group {
  display: flex;
  gap: 1.2rem;
  margin-left: auto;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.input-group i {
  color: white;
  font-size: 1.0rem;
}

.logout-form {
  display: flex;
  align-items: center;
}

.logout {
  background: none;
  border: none;
  color: white;
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  transition: color 0.3s;
}

.logout-link:hover {
  color: #e05757;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.container form {
  background-color: #ffffff;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.container label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  font-size: 14px;
}

.container input[type="date"] {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.container button {
  background-color: #e05757;
  color: white;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #c94b4b;
}
.bienvenida {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.container select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-bottom: 1rem;
  background-color: #fff;
  appearance: none; 
  transition: border-color 0.3s ease;
}

.container select:focus {
  border-color: #e05757;
  outline: none;
}

.container select option {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 0.6rem;
}

.container select[name="metode_pagament"] {
  font-size: 14px;
  font-weight: 500;
  padding: 0.6rem;
}
.habitacion-seleccionada {
  background-color: #f5f5f5;
  padding: 1.2rem;
  border-left: 4px solid #e05757;
  border-radius: 8px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.habitacion-seleccionada label {
  display: block;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.habitacion-seleccionada input[type="text"] {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 1rem;
  color: #444;
}
